
src/c8.PNG
src/c6.png
src/c7.png
src/c0.jpg
src/bilateral.jpg
src/blur.jpg
src/c1.PNG
src/c10 -filter.png
src/c10.PNG
src/c11.PNG
src/c2.PNG
src/c3.jpeg
src/c5.png
src/c4.jpg
src/c9.PNG
src/datafile.PNG
src/gaussian.jpg
src/haar_features.jpg
src/info.txt
src/kernel.gif
src/maxresdefault.jpg
src/median.jpg
src/python-logo-generic.svg
src/Papers/Real-time Face Detection and Tracking Using Haar Classifier on SoC.pdf
src/Papers/Facial feature detection using Adaboost with shape constraints.pdf
src/Papers/Scale Invariant Feature Transform.pdf
src/Papers/Face Recognition Using PCA.pdf
